<!DOCTYPE html>
<html>

<head>
    <title>Course Details</title>
</head>

<body>
    <h1>Course Details</h1>
    <p><strong>University Name:</strong>
        <%= universityName %>
    </p>
    <p><strong>Institute Name:</strong>
        <%= instituteName %>
    </p>
    <p><strong>Department Name:</strong>
        <%= departmentName %>
    </p>
    <p><strong>Course Name:</strong>
        <%= courseName %>
    </p>
    <p><strong>Course Code:</strong>
        <%= courseCode %>
    </p>
    <p><strong>Semester:</strong>
        <%= semester %>
    </p>
</body>

</html>